<section ng-controller="HomeController">
	<div class="jumbotron">
		<div class="container">
	    	<h1 class="animated fadeInRightBig lt-border-blue pl-10 bold">Welcome to PALM Stack!</h1>
	    	<p>
	    		This is a simple PHP, AngularJS, Laravel and MySQL stack.  A simple jumbotron-style component for calling extra attention to featured content or information.
	    	</p>
	    	<div class="row text-right">
	    		<h4>
	    			<span>Global Users:</span>
	    			<small class="txt-neon-green txt-neon-shadow-green txt-63 pl-10">	    			
	    				<odometer start="0" end="random" duration="1000" scroll="false">0</odometer>
					</small>
	    		</h4>   		
	    	</div>
	    	<div class="row">
	    		<h4>
	    			<em class="p-10 bg-transparent-white">
	    				<i class="fa fa-quote-left"></i> And I approve this message. 
	    				<i class="fa fa-quote-right"></i> - Aaron Yen
	    			</em>
	    		</h4>
	    	</div>
		</div>
	</div>
</section>