@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff');
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
	margin: 0;
	font-family: 'Open Sans';
	background: #343539;
	color: white;
  background: url("../img/bg/background.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased !important;
}
[ui-view].ng-enter {
  -webkit-animation: fadeIn 1s ease-in;
  animation: fadeIn 1s ease-in;
}
.animated {
	animation-fill-mode: backwards;
	-webkit-animation-fill-mode: backwards
}
a {
  color:white;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color:white;
}
input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  border: 2px solid #dadada;
  border-radius: 20px;
  color:#343539;
}
input[type=text]:focus, textarea:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
input[type=text].elastic  {
  width: 200px;
}
input[type=text]:focus.elastic  {
  width: 300px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
textarea {
  resize:none;
}
iframe {
  border:none;
  outline:none;
}
.search-container {
  margin-top:10px;
}
.no-radius {
  border-radius: 0;
}
.abs-right {
  position: absolute;
  right:20px;
}
.bold {
    font-weight: bold;
}
.left {
    float: left;
}
.clear {
  clear:both;
}
.cursor-default {
  cursor: default;
}
.vert-bottom {
    vertical-align: bottom;
}
.txt-12 {
    font-size: 12px;
}
.txt-14 {
  font-size: 14px;
}
.txt-16 {
  font-size: 16px;
}
.txt-18 {
    font-size: 18px;
}
.txt-24 {
    font-size: 24px;
}
.txt-28 {
  font-size: 28px;
}
.txt-63 {
	font-size: 63px;
}
.mt-5 {
  margin-top:5px;
}
.mt-10 {
  margin-top:10px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-5 {
  margin-right:5px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}
.pt-30 {
  padding-top: 30px !important;
}
.pl-10 {
  padding-left: 10px;
}
.plr-20 {
  padding: 0 20px;
}
.plr-80 {
  padding: 0 80px;
}
.plrb-30 {
  padding: 0 30px 30px 30px;
}
.blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: url('../../img/backgrounds/blur.svg#blur'); /* for Firefox */
}
.unblur {
  filter: blur(0);
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
}
.bg-dark {
    background: #343539;
}
.bg-steelblue {
    background: #3D4F63;
}
.bg-yellow {
  background: #f0ad4e;
}
.bg-clouds {
    background: #ecf0f1;
}
.bg-purple {
  background: #9C59B8;
}
.bg-grad-purple {
  background:  radial-gradient(
      circle at top right,
      #CB70D7,
      #9C59B8
    );
}
.bg-green {
    background: #1BBC9B;
}
.bg-lt-green {
    background: #A5DFD7;
}
.bg-dk-green {
    background: #16a085;
}
.bg-blur-dk-green {
  background: rgba(22, 160, 133, 0.65);
}
.bg-grad-green {
  background:  radial-gradient(
      circle at top right,
      #1BBC9D,
      #16A086
    );
}
.bg-blue {
    background: #27A5F9;
}
.bg-glow-blue {
  -webkit-box-shadow:0 0 15px #27A5F9; 
  -moz-box-shadow: 0 0 15px #27A5F9; 
  box-shadow:0 0 15px #27A5F9; 
}
.bg-lt-blue {
    background: #82ACDE;
}
.bg-dk-blue {
    background: #2980b9;
}
.bg-blur-dk-blue {
  background: rgba(41, 128, 185, 0.65);
}
.bg-grad-blue {
  background:  radial-gradient(
      circle at top right,
      #3598DC,
      #2A80B9
    );
}
.bg-red {
    background: #e74c3c;
}
.bg-dk-red {
    background: #c0392b;
}
.bg-blur-dk-red {
  background: rgba(192, 57, 43, 0.65);
}
.bg-lt-red {
    background: #EFB5B4;
}
.bg-grad-red {
  background:  radial-gradient(
      circle at top right,
      #E84C3D,
      #C1392B
    );
}
.bg-lt-orange {
    background: #FFB540;
}
.bg-transparent {
  background: transparent;
}
.bg-shadow {
  background: white;
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  border-radius: 3px;
}
.bg-transparent-white {
  background: rgba(255, 255, 255, 0.2);
}
.bg-transparent-black {
  background: rgba(0, 0, 0, 0.2);
}
.txt-shadow {
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.7);
}
.txt-lt-engrave {
  text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
}
.txt-dk-engrave {
  text-shadow: 0px -1px 0px rgba(0,0,0,.5); /* 50% black coming from the top */
}
.txt-white {
    color: #FFFFFF;
}
.txt-neon-shadow-white {
  text-shadow: 0 0 8px rgba(255, 255, 255, 1);
}
.txt-red {
    color: #c0392b;
}
.txt-neon-red {
  color: #FF4A4A;
}
.txt-neon-shadow-red {
  text-shadow: 0 0 8px rgba(255, 74, 74, 1);
}
.txt-green {
    color: #27ae60;
}
.txt-neon-green {
  color: #11FEAE;
}
.txt-neon-shadow-green {
  text-shadow: 0 0 8px rgba(17, 254, 174, 1);
}
.txt-neon-blue {
  color:#1AD0FC;
}
.txt-neon-shadow-blue {
  text-shadow: 0 0 8px rgba(26, 208, 252, 1);
}
.txt-neon-lt-blue {
  color:#03F1FF;
}
.txt-neon-shadow-lt-blue {
  text-shadow: 0 0 8px rgba(3, 241, 255, 1);
}
.txt-lt-blue {
    color: #BFD8ED;
}
.txt-lt-red {
    color: #EFB5B4;
}

.txt-lt-green {
    color: #A5DFD7;
}

.txt-lt-orange {
    color: #FFB540;
}
.lt-border-blue {
  border-left:solid 5px #03F1FF;
}
.lt-border-red {
  border-left:solid 5px #FF4A4A;
}
.lh-20 {
  line-height: 20px;
}
.lh-30 {
  line-height: 30px;
}
.table i {
  cursor: pointer;
}
.nicescroll-rails div {
  background: rgba(255, 255, 255,0.4) !important; 
  width: 7px !important;
}
.navbar {
    padding: 0 20px;
    border: none;
    margin-bottom: 0;
    border-radius: 0 !important;
}
.navbar-collapse.in {
    overflow-y:visible;
}
.navbar-default {
    background: rgba(0, 0, 0, 0.5);
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: white;
    -webkit-animation: flash 1s;
    animation: flash 1s;
}
.navbar-default .navbar-nav>li>a {
    color:white;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background: rgba(255,255,255,0.3);
    color:white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: rgba(0, 0, 0, 0.3);
    color:white;
}
.navbar-default .navbar-nav > .active > a {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: rgba(0, 0, 0, 0.3);
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu {
  background: rgba(0, 0, 0, 0.3);
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: white;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}
.dropdown-menu {
  background: rgba(0, 0, 0, 0.3);
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu .divider {
  background: rgba(255, 255, 255, 0.2);
}
.dropdown-menu>li>a {
  color: white;
}
.dropdown-menu>li>a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}
.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  background: url("../img/bg/panorama.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.panel-transparent.panel {
  background: none;
  border: none;
  box-shadow: none;
}
.panel-transparent.panel-default>.panel-heading {
  color: white;
  background: none;
  border: none;
}
.panel-transparent.panel-default>.panel-heading h1 {
  padding-left: 10px;
  border-left: solid 5px #03F1FF;
}
.panel-transparent .panel-body {
  background: rgba(255, 255, 255, 0.2);
  padding: 0;
  border-radius: 5px;
}
.footer {
  line-height: 50px;
  height: 50px;
}
.footer ul.list-inline li {
  padding: 0 20px;
}
.footer i {
  font-size: 25px;
}